
/* Password field */
.password-input-container {
  margin-bottom: 1rem;
}

/* Input Field  */
.password-input {
  font-size: 1rem;
  padding: 10px;
}

/* Password toggle icon */
.password-toggle {
  cursor: pointer;
  font-size: 1.2rem;
  padding: 5px 12px;
  background: var(--light-primary); 
  border: 1px solid #ddd; 
  border-radius: 5px; 
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
}

.password-toggle:hover {
  background: var(--dark-primary);
  color: var(--light-primary);
}
